html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  font-family: 'Helvetica Neue', 'sans-serif';
}

header {
  position: static;
  top: 0;
  width: 100%;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  color: #333;
  letter-spacing: 0.49px;
  width: 40%;
  padding-left: 2.5%;
}

nav {
  letter-spacing: 0.46px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: #929292;
  position: relative;
  cursor: pointer;
  text-align: right;
}

nav a:hover {
  color: #333;
}
