<!--Button to close modal-->
<div>
<a class="close">X</a>
</div>
<!-- Button to close the modal END-->
<form ng-submit="login.login()">
  <input type="text" ng-model="login.username" placeholder="username"/>
  <input type="password" ng-model="login.password" placeholder="password"/>
  <input ng-click="login.login()" type="submit"/>
</form>
<p>Logged in username: {{ ctrl.user.username }} </p>

<h4 ng-click="ctrl.getUsers()">click to see users</h4>
<div>{{ctrl.error}}</div>
<div ng-repeat="user in ctrl.users">
  <h1>{{user.username}}</h1>
</div>
